
    <div>
        <div class="float-left">

            <div id="validationError" style="margin-bottom:5%" class="aviso"></div>

            <fieldset>
                <legend>Nave</legend>
                <div>
                    <div id="agentDetails" class="display-field marginLeft">
                        <div>
                            <div><span class="">Nave:</span></div>
                            <div class="textEdicion"><input id="txtShipName" type="text" value="<%- shipName %>" /></div>
                        </div>
                        <div>
                            <div><span class="agenteDetailesHeaders">Power:</span></div>
                            <div class="textEdicion"><input id="txtPower" type="text" value="<%- power %>" /></div>
                        </div>


                        <img src="scripts/imagesStarWars/<%- idShip %>.png" /></div>
                </div>
            </fieldset>
        </div>

        <div class="clear align-center">
            <input id="btnSave" type="button" value="Guardar" class="default" />
            <input id="btnBack" type="button" value="Atrás" class="default" />
        </div>
    </div>
